In [2]:
# list of python can hv same datatype or different..
l = ['hello',123,34.55,'adas',4+8j]

In [3]:
l[0]

'hello'

In [4]:
l[0:4] #startindex:end index

['hello', 123, 34.55, 'adas']

In [5]:
l[::3]#start:end:skip steps

['hello', 'adas']

In [8]:
l[-1:6]#reverse index:end

[(4+8j)]

In [6]:
l[0]

'hello'

In [11]:
l[0][1]#0th index 1st substring

'e'

In [12]:
type(l[4])#type of 4th element

float

In [15]:
l.insert(2,"hello")

In [10]:
print(l)

['hello', 123, 'hello', 34.55, 'adas', (4+8j)]

In [16]:
l.append("end") # append string at the end..
print(l)

['hello', 123, 'hello', 'hello', 'hello', 'hello', 'hello', 34.55, 'adas', (4+8j), 'end']

In [10]:
l.insert(2, [1,2,3,4]) # append list at 2nd position
print(l)

['hello', 123, [1, 2, 3, 4], 'hello', 34.55, 'adas', (4+8j), 'end', 'end']

In [17]:
 # fetch from last

In [12]:
l.pop() #2nd fetch from last

'end'

In [18]:
 l[::-1] #reverse list

['end',
 (4+8j),
 'adas',
 34.55,
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 123,
 'hello']

In [16]:
l.reverse() 
print(l)

['hello', 123, [1, 2, 3, 4], 'hello', 34.55, 'adas', (4+8j)]

In [19]:
l[2][2] # 3nd row 3rd column

'l'

In [20]:
l.count('hello') #'hello' appear 2 times

6

In [21]:
l.append([55,66]) # insert an element with list at last
l

['hello',
 123,
 [1, 2, 3, 4],
 'hello',
 34.55,
 'adas',
 (4+8j),
 [55, 66],
 [55, 66],
 [55, 66]]

In [21]:
l.extend([22,33,44]) # concat the list...
l

['hello',
 123,
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 34.55,
 'adas',
 (4+8j),
 'end',
 22,
 33,
 44]

In [22]:
l

['hello',
 123,
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 34.55,
 'adas',
 (4+8j),
 'end',
 22,
 33,
 44]

In [24]:
for i in range(0,len(l),2):# range(start,end,skip by 2)
    print(i, l[i])

0 hello
2 hello
4 hello
6 hello
8 adas
10 end
12 33

In [25]:
for i in range(-1,-len(l)-1,-1):# reverse lis print(start,end,skip by -1)
    print(i, l[i])

-1 44
-2 33
-3 22
-4 end
-5 (4+8j)
-6 adas
-7 34.55
-8 hello
-9 hello
-10 hello
-11 hello
-12 hello
-13 123
-14 hello