In [1]:
import pandas as pd
technologies   = ({
    'Courses':["Spark","PySpark","Hadoop","Python","Pandas","Hadoop","Spark","Python"],
    'Fee' :[22000,25000,23000,24000,26000,25000,25000,22000],
    'Duration':['30days','50days','55days','40days','60days','35days','55days','50days'],
    'Discount':[1000,2300,1000,1200,2500,1300,1400,1600]
                })
df = pd.DataFrame(technologies, columns=['Courses','Fee','Duration','Discount'])
print(df)

   Courses    Fee Duration  Discount
0    Spark  22000   30days      1000
1  PySpark  25000   50days      2300
2   Hadoop  23000   55days      1000
3   Python  24000   40days      1200
4   Pandas  26000   60days      2500
5   Hadoop  25000   35days      1300
6    Spark  25000   55days      1400
7   Python  22000   50days      1600

In [2]:
# Use GroupBy() to compute the sum
df2 = df.groupby('Courses').sum()
print(df2)

           Fee  Discount
Courses
Hadoop   48000      2300
Pandas   26000      2500
PySpark  25000      2300
Python   46000      2800
Spark    47000      2400

In [3]:
# Use GroupBy() & compute sum on specific column
df2 = df.groupby('Courses')['Fee'].sum()
print(df2)

Courses
Hadoop     48000
Pandas     26000
PySpark    25000
Python     46000
Spark      47000
Name: Fee, dtype: int64

In [4]:
# Using GroupBy multiple column
df2 = df.groupby(['Courses','Duration'])['Fee'].sum()
print(df2)

Courses  Duration
Hadoop   35days      25000
         55days      23000
Pandas   60days      26000
PySpark  50days      25000
Python   40days      24000
         50days      22000
Spark    30days      22000
         55days      25000
Name: Fee, dtype: int64

In [4]:
# Groupby and get sum() and count()
df2 = df.groupby('Courses')['Fee'].agg(['sum','count'])
print(df2)

# Pandas groupby get sum() and count()
df2 = df.groupby('Courses').agg({'Fee': ['sum','count']})
print(df2)

           sum  count
Courses
Hadoop   48000      2
Pandas   26000      1
PySpark  25000      1
Python   46000      2
Spark    47000      2
           Fee
           sum count
Courses
Hadoop   48000     2
Pandas   26000     1
PySpark  25000     1
Python   46000     2
Spark    47000     2

In [6]:
# Remove sorting on grouped results
df2=df.groupby(by=['Courses'], sort=False).sum()
print(df2)

           Fee  Discount
Courses
Spark    47000      2400
PySpark  25000      2300
Hadoop   48000      2300
Python   46000      2800
Pandas   26000      2500

In [5]:
# Sorting group keys on descending order
groupedDF = df.groupby('Courses',sort=False).sum()
sortedDF=groupedDF.sort_values('Courses', ascending=False)
print(sortedDF)

           Fee  Discount
Courses
Spark    47000      2400
Python   46000      2800
PySpark  25000      2300
Pandas   26000      2500
Hadoop   48000      2300

In [6]:
df.groupby('Courses').apply(lambda x: x.sort_values('Fee'))

           Courses    Fee Duration  Discount
Courses
Hadoop  2   Hadoop  23000   55days      1000
        5   Hadoop  25000   35days      1300
Pandas  4   Pandas  26000   60days      2500
PySpark 1  PySpark  25000   50days      2300
Python  7   Python  22000   50days      1600
        3   Python  24000   40days      1200
Spark   0    Spark  22000   30days      1000
        6    Spark  25000   55days      1400

In [7]:
# Using as_index=False
df2 = df.groupby('Courses', as_index =False)['Fee'].sum()

# Using reset_index()
df2 = df.groupby(['Courses'])['Fee'].sum().reset_index()
print(df2)

   Courses    Fee
0   Hadoop  48000
1   Pandas  26000
2  PySpark  25000
3   Python  46000
4    Spark  47000

In [8]:

# GroupBy multiple columns using agg()
df2 = df.groupby(['Courses','Duration'])['Discount'].agg("sum")
print(df2)

Courses  Duration
Hadoop   35days      1300
         55days      1000
Pandas   60days      2500
PySpark  50days      2300
Python   40days      1200
         50days      1600
Spark    30days      1000
         55days      1400
Name: Discount, dtype: int64

In [9]:
# GroupBy multiple columns using transform()
df2 = df.groupby(['Courses', 'Fee'])['Discount'].transform('sum')
print(df2)

0    1000
1    2300
2    1000
3    1200
4    2500
5    1300
6    1400
7    1600
Name: Discount, dtype: int64

In [10]:
# GroupBy multiple columns using pivot function
df2 = df.groupby(['Courses','Duration'],as_index = False).sum().pivot('Courses','Duration').fillna(0)
print(df2)

              Fee                                              Discount  \
Duration   30days   35days   40days   50days   55days   60days   30days
Courses
Hadoop        0.0  25000.0      0.0      0.0  23000.0      0.0      0.0
Pandas        0.0      0.0      0.0      0.0      0.0  26000.0      0.0
PySpark       0.0      0.0      0.0  25000.0      0.0      0.0      0.0
Python        0.0      0.0  24000.0  22000.0      0.0      0.0      0.0
Spark     22000.0      0.0      0.0      0.0  25000.0      0.0   1000.0


Duration  35days  40days  50days  55days  60days
Courses
Hadoop    1300.0     0.0     0.0  1000.0     0.0
Pandas       0.0     0.0     0.0     0.0  2500.0
PySpark      0.0     0.0  2300.0     0.0     0.0
Python       0.0  1200.0  1600.0     0.0     0.0
Spark        0.0     0.0     0.0  1400.0     0.0

In [11]:
# DataFrame.set_index using sum with level
df2 = df.set_index(['Courses','Duration']).sum(level=[0,1])
print(df2)

                    Fee  Discount
Courses Duration
Spark   30days    22000      1000
PySpark 50days    25000      2300
Hadoop  55days    23000      1000
Python  40days    24000      1200
Pandas  60days    26000      2500
Hadoop  35days    25000      1300
Spark   55days    25000      1400
Python  50days    22000      1600

C:\Users\Darshi\AppData\Local\Temp\ipykernel_11428\2898248389.py:2: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  df2 = df.set_index(['Courses','Duration']).sum(level=[0,1])

In [12]:
# GroupBy multiple columns using agg()
df2 = df.groupby(['Courses','Duration'])['Discount'].agg("sum")
print(df2)

Courses  Duration
Hadoop   35days      1300
         55days      1000
Pandas   60days      2500
PySpark  50days      2300
Python   40days      1200
         50days      1600
Spark    30days      1000
         55days      1400
Name: Discount, dtype: int64

In [14]:
# GroupBy multiple columns using agg()
df2 = df.groupby(['Courses','Duration'])['Discount'].sum()
print(df2)

Courses  Duration
Hadoop   35days      1300
         55days      1000
Pandas   60days      2500
PySpark  50days      2300
Python   40days      1200
         50days      1600
Spark    30days      1000
         55days      1400
Name: Discount, dtype: int64