Test the hypothesis that the mean scores of all the students are the same. If not, name the
student with the highest score.

In [1]:
import pandas as pd

ds = {"name":["karan","dipa","kartik","chandan","jeevan"],
      "exam1":[85,70,90,75,95],
      "exam2":[90,80,85,70,92],
      "finalexam":[92,85,88,75,96]
      }
df = pd.DataFrame(ds)

In [9]:
# student need to compared based on 3 exams and sample are 6.. so we choose t-test test
#h0 - mean score is same
#h1 - mean score is different 

import scipy.stats as stats
 
# Perform the two sample t-test with equal variances
stats.ttest_ind(a=df["exam1"], b=df["exam2"])
# p value of exam1 and exam2 test is 0.94 >0.05(significance level) so we reject null hypothesis.. mean is different of exam1 and exam2

Ttest_indResult(statistic=-0.06570634109109397, pvalue=0.9492239442504181)

In [10]:
stats.ttest_ind(a=df["exam1"], b=df["finalexam"])
#p-value of exam1 and finalexam is 0.49 > 0.05(significance level) so we reject null hypothesis.. mean is different of exam1 and finalexam

Ttest_indResult(statistic=-0.7177652233758968, pvalue=0.49332593431273464)

In [11]:
stats.ttest_ind(a=df["exam2"], b=df["finalexam"])
#p-value of exam2 and finalexam is 0.49 > 0.05(significance level) so we reject null hypothesis.. mean is different of exam2 and finalexam

Ttest_indResult(statistic=-0.7143160013770662, pvalue=0.4953430130506067)

In [36]:
# list of columns to be considered
columns = ['exam1', 'exam2', 'finalexam']
  
# filtering rows on basis of certain columns
# df = df.loc[df[columns].sum(axis=1).max()]
m = df[columns].sum(axis=1).max()

df[df[columns].sum(axis=1) == m]

     name  exam1  exam2  finalexam
4  jeevan     95     92         96