The anxiety levels of 10 participants were measured before and after a new therapy. The scores are not normally distributed. Use the Wilcoxon signed-rank test to test whether the therapy had a significant effect on anxiety levels. The data is given below: Participant Before therapy After therapy Difference

In [4]:
import pandas as pd

data = {"participant":[1,2,3,4,5,6,7,8,9,10],
        "beforeTherapy":[10,8,12,15,6,9,11,7,14,10],
        "afterTherapy":[7,6,10,12,5,8,9,6,12,8],
        "diff":[-3,-2,-2,-3,-1,-1,-2,-1,-2,-2]}

df = pd.DataFrame(data)

In [5]:
df

   participant  beforeTherapy  afterTherapy  diff
0            1             10             7    -3
1            2              8             6    -2
2            3             12            10    -2
3            4             15            12    -3
4            5              6             5    -1
5            6              9             8    -1
6            7             11             9    -2
7            8              7             6    -1
8            9             14            12    -2
9           10             10             8    -2

In [6]:
from statsmodels.stats.weightstats import ztest as ztest


ztest(df)

(array([ 5.74456265, 11.1291124 , 10.70534615, -8.14285714]),
 array([9.21588720e-09, 9.05324728e-29, 9.60709362e-27, 3.86057669e-16]))

In [ ]:
#beforetherapy -  z score is 11.12
#aftertherapy - z score is 10