In [2]:
# list of python can hv same datatype or different..
l = ['hello',123,34.55,'adas',4+8j]

In [3]:
l[0]

'hello'

In [4]:
l[0:4] #startindex:end index

['hello', 123, 34.55, 'adas']

In [5]:
l[::3]#start:end:skip steps

['hello', 'adas']

In [8]:
l[-1:6]#reverse index:end

[(4+8j)]

In [6]:
l[0]

'hello'

In [11]:
l[0][1]#0th index 1st substring

'e'

In [12]:
type(l[4])#type of 4th element

float

In [15]:
l.insert(2,"hello")

In [10]:
print(l)

['hello', 123, 'hello', 34.55, 'adas', (4+8j)]

In [16]:
l.append("end") # append string at the end..
print(l)

['hello', 123, 'hello', 'hello', 'hello', 'hello', 'hello', 34.55, 'adas', (4+8j), 'end']

In [10]:
l.insert(2, [1,2,3,4]) # append list at 2nd position
print(l)

['hello', 123, [1, 2, 3, 4], 'hello', 34.55, 'adas', (4+8j), 'end', 'end']

In [17]:
 # fetch from last

In [12]:
l.pop() #2nd fetch from last

'end'

In [18]:
 l[::-1] #reverse list

['end',
 (4+8j),
 'adas',
 34.55,
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 123,
 'hello']

In [16]:
l.reverse() 
print(l)

['hello', 123, [1, 2, 3, 4], 'hello', 34.55, 'adas', (4+8j)]

In [19]:
l[2][2] # 3nd row 3rd column

'l'

In [20]:
l.count('hello') #'hello' appear 2 times

6

In [21]:
l.append([55,66]) # insert an element with list at last
l

['hello',
 123,
 [1, 2, 3, 4],
 'hello',
 34.55,
 'adas',
 (4+8j),
 [55, 66],
 [55, 66],
 [55, 66]]

In [21]:
l.extend([22,33,44]) # concat the list...
l

['hello',
 123,
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 34.55,
 'adas',
 (4+8j),
 'end',
 22,
 33,
 44]

In [22]:
l

['hello',
 123,
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 34.55,
 'adas',
 (4+8j),
 'end',
 22,
 33,
 44]

In [24]:
for i in range(0,len(l),2):# range(start,end,skip by 2)
    print(i, l[i])

0 hello
2 hello
4 hello
6 hello
8 adas
10 end
12 33

In [25]:
for i in range(-1,-len(l)-1,-1):# reverse lis print(start,end,skip by -1)
    print(i, l[i])

-1 44
-2 33
-3 22
-4 end
-5 (4+8j)
-6 adas
-7 34.55
-8 hello
-9 hello
-10 hello
-11 hello
-12 hello
-13 123
-14 hello

In [4]:
list1 = [1,2,3]
list2 = [4,5,6]

In [2]:
list1+list2

[1, 2, 3, 4, 5, 6]

In [3]:
list1*list2

TypeError: can't multiply sequence by non-int of type 'list'

In [5]:
list1*2 # repeat it 2 times.

[1, 2, 3, 1, 2, 3]

In [6]:
list3 = list() # to represent empty list... [] is not recomonded

In [8]:
list3 = []
len(list3)

0

In [3]:
litems = list()
for i in range(5):
    user_input = input("enter items:")
    litems = litems + [user_input]
    #litems.append(user_input)

print(litems)

['hello', 'this', 'is ', 'isndia', 'hi']

In [5]:
list1

[1, 2, 3]

In [6]:
max(list1)

3

In [7]:
list2= ['a','b','c']
max(list2)

'c'

In [8]:
min(list2)

'a'

In [9]:
list2.append('aa')

In [10]:
list2

['a', 'b', 'c', 'aa']

In [11]:
list2.append(['abc']) # append as list
list2

['a', 'b', 'c', 'aa', ['abc']]

In [13]:
list2 = list2 + ['abc'] # append as single element
list2

['a', 'b', 'c', 'aa', ['abc'], 'abc']

In [14]:
list2.pop() #fetch last element and remove from list

'abc'

In [15]:
list2

['a', 'b', 'c', 'aa', ['abc']]

In [16]:
sorted(list1) #only sort it and return.. assignment need to do

[1, 2, 3]

In [17]:
list1[::-1]# descending order.. no assignement

list1.reverse() # self assignment with reverse

[3, 2, 1]

In [19]:
list1.sort() #sort and assigned
list1

[1, 2, 3]

In [20]:
#nested list

a = [[1,2,3],[11,22,33],[44,55,66]]
a

[[1, 2, 3], [11, 22, 33], [44, 55, 66]]

In [21]:
a[0]

[1, 2, 3]

In [22]:
a[0][2]

3

In [23]:
a = [[1,2,3],[11,22,33],[44,55,66,['hello','this',3]]]

a[2][3][0]

'hello'

In [25]:
cart = [['watch',5000],['phone',10000],['laptop',50000]]

total = 0

for i in range(len(cart)):
    total = total + cart[i][1]

print(total)

sum = 0
## other type of for loop
for item in cart:
    #item[0]// name of product
    #item[1]// price of product
    sum = sum+item[1]

print(sum)

65000
65000

In [26]:
# find square of given list

a = [1,2,3,4,5]

ans = [ele ** 2 for ele in a] # one line for loop

In [27]:
ans

[1, 4, 9, 16, 25]

In [31]:
a = [1,2,3]
b = [11,22,33]

a.append(b)

a

[1, 2, 3, [11, 22, 33]]

In [32]:
b.extend(a)
b

[11, 22, 33, 1, 2, 3, [...]]

In [2]:
str1 = [12,2,3,4,'abc','hi',1+3j]

str1.index('hi')

5

In [4]:
for ele in str1:
    if type(ele) == str:
        print(f"its a String at {str1.index(ele)} and {type(ele)}")
    elif type(ele) is int:
        print(f"its a integere at {str1.index(ele)} and {type(ele)}")
    elif type(ele) is complex:
        print(f"its a complex at {str1.index(ele)}")
    else:
        print(f"i dont know and {type(ele)}")

its a integere at 0 and <class 'int'>
its a integere at 1 and <class 'int'>
its a integere at 2 and <class 'int'>
its a integere at 3 and <class 'int'>
its a String at 4 and <class 'str'>
its a String at 5 and <class 'str'>
its a complex at 6

In [5]:
for element in str1:
    if isinstance(element, int):
        print("It's an Integer")
    if isinstance(element, str):
        print("It's an string")
    if isinstance(element, float):
        print("It's an floating number")

It's an Integer
It's an Integer
It's an Integer
It's an Integer
It's an string
It's an string

In [7]:
ans = [ele for ele in str1 if type(ele)==complex]
ans

[(1+3j)]

In [8]:
a = [1,2,3,[4,5,6],7,8,9]
a.index(3)# 3 is present at 2nd position

2

In [9]:
a.index(4) 
# it will not found bcas 4 is not present as an elemnt in list

ValueError: 4 is not in list

In [10]:
a[3].index(4) # u need to find within 3rd elemnt as list

0

In [12]:
a.append(45) # bydefault append at the end...
a

[1, 2, 3, [4, 5, 6], 7, 8, 9, 45, 45]

In [14]:
a.insert(6,'55') # at particluar position
a

[1, 2, 3, [4, 5, 6], 7, 8, '55', '45', 9, 45, 45]

In [15]:
a.insert(20000,'as') # out o findex... at the end by default

In [16]:
a

[1, 2, 3, [4, 5, 6], 7, 8, '55', '45', 9, 45, 45, 'as']

In [17]:
a.insert(-20000,'as') # at first 
a

['as', 1, 2, 3, [4, 5, 6], 7, 8, '55', '45', 9, 45, 45, 'as']

In [18]:
a.remove('as') # remove 1st accurance of ele

In [19]:
a

[1, 2, 3, [4, 5, 6], 7, 8, '55', '45', 9, 45, 45, 'as']